body{
    overflow: hidden;
}
.container{
    display: flex;
    flex-direction: row;
}
.dashboard{
    width: 250px;
    margin-inline: auto;
    height: 850px;

}
.icon img{
    width: 30%;
    border-radius: 20%;
    margin-top: 30px;
    margin-left: 35px;
}
.home-icon {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.home-icon svg{
    margin-top: 20px;
    width: 40%;
}
.home-icon a {
    position: relative;
    font-family: "poppins",sans-serif;
    color: black;
    text-decoration: none;
    margin-left: -15px;
    margin-top: 28px;
    font-size: 20px;
}
.home-icon a:after{
    content: "";
    position: absolute;
    background-color: red;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.home-icon a:hover{
    color: black;
}
.home-icon a:hover:after{
    width: 100%;
}
.about-icon {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.about-icon svg{
    margin-top: 10px;
    width: 40%;
}
.about-icon a {
    position: relative;
    font-family: "poppins",sans-serif;
    color: black;
    text-decoration: none;
    margin-left: -15px;
    margin-top: 13px;
    font-size: 20px;
}
.about-icon a:after{
    content: "";
    position: absolute;
    background-color: red;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.about-icon a:hover{
    color: black;
}
.about-icon a:hover:after{
    width: 100%;
}
.benefits-icon {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.benefits-icon svg{
    margin-top: 10px;
    width: 40%;
}
.benefits-icon a {
    position: relative;
    font-family: "poppins",sans-serif;
    color: black;
    text-decoration: none;
    margin-left: -15px;
    margin-top: 13px;
    font-size: 20px;
}
.benefits-icon a:after{
    content: "";
    position: absolute;
    background-color: red;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.benefits-icon a:hover{
    color: black;
}
.benefits-icon a:hover:after{
    width: 100%;
}
.Contact-icon {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.Contact-icon svg{
    margin-top: 10px;
    width: 40%;
}
.Contact-icon a {
    position: relative;
    font-family: "poppins",sans-serif;
    color: black;
    text-decoration: none;
    margin-left: -15px;
    margin-top: 13px;
    font-size: 20px;
}
.Contact-icon a:after{
    content: "";
    position: absolute;
    background-color: red;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.Contact-icon a:hover{
    color: black;
}
.Contact-icon a:hover:after{
    width: 100%;
}
.details-icon {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}
.details-icon svg{
    margin-top: 20px;
    width: 40%;
}
.details-icon a {
    position: relative;
    font-family: "poppins",sans-serif;
    color: black;
    text-decoration: none;
    margin-left: -15px;
    margin-top: 28px;
    font-size: 20px;
}
.details-icon a:after{
    content: "";
    position: absolute;
    background-color: red;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.details-icon a:hover{
    color: black;
}
.details-icon a:hover:after{
    width: 100%;
}
.logout-icon {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 10px;
}
.logout-icon svg{
    margin-top: 10px;
    width: 40%;
}
.logout-icon a {
    position: relative;
    font-family: "poppins",sans-serif;
    color: black;
    text-decoration: none;
    margin-left: -15px;
    margin-top: 13px;
    font-size: 20px;
}
.logout-icon a:after{
    content: "";
    position: absolute;
    background-color: red;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.logout-icon a:hover{
    color: black;
}
.logout-icon a:hover:after{
    width: 100%;
}
.main-content{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 120vh;
    background-image: url("main.png");
    /* background-color: grey; */
    background-position: center;
    background-size: 120%;
    background-repeat: no-repeat;
    margin-top: -80px;
    margin-right: -10px;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.main-content h1 {
    margin-top: 120px;
    font-size: 100px;
    color: rgb(9, 64, 116);
    font-weight: 600px;
    transition: 0.5s;
    margin-right: -750px;
}
.buttons{
    display: inline-flex;
    flex-direction: column;
    margin-top: -40px;
    margin-left: 740px;
}
.get {
    text-decoration: none;
    /* border: 2px solid white; */
    background-color: rgb(9, 64, 116);
    padding: 14px 70px;
    margin-top: 20px;
    border-radius: 50px;
    font-size: 24px;
    color: black;
}
.post {
    text-decoration: none;
    border: 2px solid rgb(9, 64, 116);
    /* background-color:rgb(9, 64, 116); */
    padding: 14px 70px;
    margin-top: 20px;
    border-radius: 50px;
    font-size: 24px;
    color: white;
}
.nav-icon{
    margin-top: 30px;
    margin-left: 10px;
    align-items: center;
    text-align: center;
    display: none;
    cursor: pointer;
}
@media screen and (max-width: 500px) {
    div.dashboard {
      display: none;
    }
    div.nav-icon{
        display: inline;
    }
  }
